/* 1. CSS Reset */
* {
  box-sizing: border-box;
}
/* 2. Global CSS */
:root {
  --max-content-width: 75rem;

  --color-blue-dark: #2e323f;
  --color-blue-light: #3b4050;
  --color-grey: #6f737f;
  --color-white: #fff;
  --color-gold: #a59678;
  --color-black: #000;
}

body {
  margin: 0;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: "Oswald";
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
  text-align: center;
}

p {
  font-family: "Montserrat";
  font-size: 1.125rem;
}

img {
  max-width: 100%;
}

section {
  padding-block: 2.5rem;
}

nav {
  padding: 1em 0;
  width: 85%;
  margin: 0 auto;
}

hr {
  width: 85%;
}

/* 3. Composition */

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* 4. Utilities */
.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.row {
  width: 85%;
  margin: 0 auto;
  /* padding-block: 2rem; */
}

.card {
  padding: 1em;
  text-align: center;
}

.button {
  font-family: "Oswald";
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  padding: 0.4em 1em;
}

.color-background-dark-blue {
  background: var(--color-blue-dark);
}

.color-background-light-blue {
  background-color: var(--color-blue-light);
}

.color-background-gold {
  background-color: var(--color-gold);
}

.color-type-white {
  color: #fff;
}

.color-type-grey {
  color: var(--color-grey);
}

.color-type-gold {
  color: var(--color-gold);
}

.display--hidden {
  display: none;
}
/* 5. Blocks */
/* Header */
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.navigation li {
  padding: 0.5em 0;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-white);
  cursor: pointer;
}

.navigation__login .sign-up {
  width: 15ch;
  border-radius: 2rem;
  margin: 0 auto;
}
/* Main */
/* Section-1 */
.section-1__title {
  font-size: 3rem;
  margin-block-end: 1em;
}
/* Section-2 */
.section-2__title {
  text-align: center;
  margin-block-end: 0.5em;
}

.section-2 .row {
  --flow-space: 2.5em;
}
/* Section-3 */
.section-3 .col {
  --flow-space: 2em;
}

/* Footer */
.footer {
  padding-block: 3rem;
}
.footer__main-title {
  font-size: 2.5rem;
  color: var(--color-white);
  margin-block-end: 1em;
}

.footer__about {
  display: none;
}

.footer .title {
  color: var(--color-gold);
  text-transform: uppercase;
}

.footer .row {
  --flow-space: 3em;
}

.footer .about__description {
  color: var(--color-white);
}

.footer .navigation__and-more {
  display: none;
}

/* 6. Exceptions */
/* 7. Media queries */

@media (min-width: 44rem) {
  .icons__hamburger {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .navigation__menu {
    display: flex;
    gap: 4em;

    ul {
      display: flex;
      gap: 1.5em;
    }
  }

  .section-2 .row {
    display: flex;
    gap: 1em;

    .col {
      margin: 0;
    }
  }

  .section-3__cards {
    display: flex;
    gap: 1em;

    .card {
      margin: 0;
    }
  }

  footer .navigation {
    display: flex;
    justify-content: space-between;

    div {
      margin: 0;
      width: 100%;
    }
  }
  .footer .navigation__and-more {
    display: block;
  }
}

@media (min-width: 60rem) {
  .section-1 .row {
    display: flex;

    div {
      margin: 0;
    }
  }

  .section-3 .row {
    display: flex;
    gap: 1em;

    .section-3__cards {
      flex-direction: column;
      margin: 0;
    }
  }

  .footer__about {
    display: block;
    width: 50%;
    margin-top: 3em;
  }

  .footer .row {
    display: flex;
    justify-content: space-between;
  }
}
